/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

}

aside{
    background-color:#1CD1B0;
    font-size: 20px;
    height: 2rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* titulo principal */
h1{
    background-color: #00669F;
    color: white;
    font-weight: normal;
    padding: 1rem;
    padding-top: 40px;
    box-shadow: 5px 5px 5px gray;
}

/* seccion tarjetas */
.cards-super{
    width: 70%;
    margin: auto;
}

/* tarjeta entera */

.card{
    margin-top: 100px;
}

/* fondos de tarjetas */
.card-header{
    position: relative;
    border-radius: 60px 60px 0px 0px;
}

.card-header div{
    position: absolute;
    top: 350px;
    right: 300px;

}

.card-header-bat{
    background-image: url("../img/bg-batman.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}

.card-header-wonder{
    background-image: url("../img/bg-wonderw.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}

.card-header-super{
    background-image: url("../img/bg-superman.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}

/* Imagenes redondas */
.img-bat{
    background-image: url("../img/batman.jpg");
    width: 300px;
    height: 300px;
    background-position-x: -180px;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.img-wonder{
    background-image: url("../img/wonderw.jpg");
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.img-super{
    background-image: url("../img/superman.jpg");
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

/* cuerpo gris de las tarjetas */
.card-body{
    background-color: #F3F3F3;
    padding: 180px 50px 40px;
    text-align: center;
    box-shadow: 0px 5px 5px gray;
}

h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* corazon */
.fa-heart{
    color: red;
    font-size: 3rem;
    position: absolute;
    left: 30px;
    top: 30px;
}

/* boton ver mas */
.card-body a{
    display: block;
    background-color: #00669F;
    color: white;
    width: 100px;
    margin: auto;
    height: 50px;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    border-radius: 5px;
}

/* pie de pagina */

footer{
    background-color: #00669F;
    margin-top: 100px;
}

footer img{
    position: relative;
    right: -1100px;
    width: 100px;
    padding-bottom: 10px;
}

footer p{
    text-align: center;
    color: white;
    padding-top: 1.5rem;
}

footer p span{
    text-transform: uppercase;
}

/* icono mas */
.icono-mas i{
    color: white;
    background-color: #00669F;
    border-radius: 50%;
    font-size: 3rem;
    padding: 1rem;
    position: fixed;
    bottom: 50px;
    right: 50px;
}