/* Fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@400;700&display=swap');
/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

}

aside{
    background-color:#1CD1B0;
    font-size: 20px;
    height: 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Header */

header .fas{
    font-size: 30px;
    margin: 5px;
}

h1{
    background-color: #00669F;
    color: white;
    font-weight: normal;
    font-size: 30px;
    padding: 1rem;
    box-shadow: 5px 5px 5px gray;
}

/* Navegación */
nav{
    background-color: #001D2D;
    position: absolute;
    width: 100%;
    
}
nav ul{
    position: relative;
    left: 1000px;
    
}

nav li{
    display: inline-block;
    padding: 10px 5px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}


/*********************Superheroes******************/

/* seccion tarjetas */
.cards-super{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:flex-start;
    margin: 100px 100px 0 100px;
}

/* tarjeta entera */

.card{
    width: 30%;
}

/* fondos de tarjetas */
.card-header{
    position: relative;
    border-radius: 60px 60px 0px 0px;
}

.card-header div{
    position: absolute;
    top: 150px;
    left: 160px;

}

.card-header-bat{
    background-image: url("../img/bg-batman.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
}

.card-header-wonder{
    background-image: url("../img/bg-wonderw.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
}

.card-header-super{
    background-image: url("../img/bg-superman.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
}

/* Imagenes redondas */
.img-bat{
    background-image: url("../img/batman.jpg");
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.img-wonder{
    background-image: url("../img/wonderw.jpg");
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.img-super{
    background-image: url("../img/superman.jpg");
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

/* cuerpo gris de las tarjetas */
.card-body{
    background-color: #F3F3F3;
    padding: 100px 50px 40px;
    text-align: center;
    box-shadow: 0px 5px 5px gray;
    min-height: 75vh;
}

h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* corazon */
.fa-heart{
    color: red;
    font-size: 3rem;
    position: absolute;
    left: 30px;
    top: 30px;
}

/* boton ver mas */
.card-body a{
    display: block;
    background-color: #00669F;
    color: white;
    width: 100px;
    margin: auto;
    height: 50px;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    border-radius: 5px;
}

/* icono mas */
.icono-mas i{
    color: white;
    background-color: #00669F;
    border-radius: 50%;
    font-size: 3rem;
    padding: 1rem;
    position: fixed;
    bottom: 200px;
    right: 50px;
}

/*****************Login*******************/
.contenedor-login{
    margin-left: 30%;
    margin-top: 50px;
}

.contenedor-login h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 72px;
    text-transform: none;
}

.input{
    width: 620px;
    height: 60px;
    border: 1.5px solid black;
    margin: 10px 0;
    font-family: 'Karla', sans-serif;
    color: black;
    padding: 15px 25px;
    display: block;
}

.boton{
    background-color: #1CD1B0;
    width: 620px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: block;
}

.contenedor-login div{
    margin-left: 20%;
}

.contenedor-login p{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #00669F;
    
}

.link{
    text-decoration: none;
    color: black;
}

/* Pagina de registro - botones */

.boton-reset{
    width: 300px;
    background-color: #888888;
    color: white;
    display: inline-block;
}

.boton-entrar{
    width: 300px;
    display: inline-block;
}


/* pie de pagina */

footer{
    background-color: #00669F;
    margin-top: 100px;
    height: 70px;
}

footer p{
    color: white;
    text-align: center;
    padding-top: 10px;
}

footer img{
    width: 100px;
    margin-left: 10px;
}

footer p span{
    text-transform: uppercase;
}

